/*SmartPhones And Tablets*/

@media (max-width: 767px)
{
	.navbar-inverse .navbar-nav > li > a
	{
		padding-top: 10px;
		padding-bottom: 10px
	}

	.subscribe .form-control
	{
		margin: 20px auto;
		width: 400px
	}

	.navbar-fixed-top .navbar-collapse,
	.navbar-fixed-bottom .navbar-collapse
	{
		max-height: none;
	}

}

/*Small Screen*/

@media (min-width: 768px) and (max-width: 991px)
{

}

/*Medium Screen*/

@media (min-width: 992px) and (max-width: 1199px)
{
	
}


.os
{
	background: #333 ;
	color:#FFF;
	padding: auto;
	margin: 4px;
	
}
.show
{
	background: #434;
	color: #FFF
}
body
{
	padding-top: 70px;
	
}
h1, h2, h3, h4, h5, .lead
{
	font-family: 'Spicy Rice', cursive;

}
/*start override bootstrap*/
/*main navbar*/
.navbar { min-height: 70px }

.navbar-inverse .navbar-nav > .active > a,
 .navbar-inverse .navbar-nav > .active > a:hover, 
 .navbar-inverse .navbar-nav > .active > a:focus
 {
 
 }
 /*Navbar Link*/
 .navbar-inverse .navbar-nav > li > a
 {
 	color: #dab3e6;
 	padding-top: 25px;
 	padding-bottom: 25px;
 	font-size: 16px
 }
 /*Brand Name*/

 .navbar-inverse .navbar-brand
 {
 	color: #ea9a6b;
 	font-size: 25px;
 	font-style: italic;
 	line-height: 40px

 }
 .dropdown-menu {background-color: #333; min-width: 200px;}
 .navbar-right .dropdown-menu {left: 0;right: auto;}
 .dropdown-menu >li >a
 {
 	color: #FFF;
 	padding: 6px 20px;
 	-webkit-transition:padding 0.5s ease;
 	-moz-transition:padding 0.5s ease;
 	-o-transition:padding 0.5s ease;
 	transition:padding 0.5s ease;
 }
 .dropdown-menu>li>a:hover,
 .dropdown-menu>li>a:focus
 {
 	background-color: #ea9a6b;
 	padding-left: 25px
 }
 .navbar
 {
   background-color: #3c054e;
 }
 .dropdown-menu .divider
 {
 	background-color: #63a907
 }
 .navbar-right .dropdown-menu
 {
 	left:0;
 	right: auto;
 }
 .navbar-inverse .navbar-brand span
 {
 	color: #80c581
 }
 /*carousel*/
 .carousel-caption
 {
    bottom: 80px;
    background: rgba(3,11,68,0.5);
    padding-right: 20px;
    padding-left: 20px;
 }
 
 .carousel-indicators li
 {
 	height: 20px;
 	width: 20px
 }
 .carousel-indicators .active
 {
 	height: 19px;
 	width: 19px;
 
 }

.carousel-inner > .item > img {width: 100%}
 /*End override bootstrap*/

 /* Start Sectio Tool Box */
 .option-box
 {
 	position: fixed;
 	top: 100px;
 	left: 0;
 	z-index: 9999
 }
 .option-box .color-option
 {
 	float: left;
 	background: #333;
 	color: #fff;
 	padding: 10px;
 	width: 200px;
 	

 }

 .option-box .color-option ul li
 {
 	width: 20px;
 	height: 20px;
 	background: #f00;
 	display: inline-block;
 	margin-right: 3px
 }
 .option-box .fa-dice
 {
 	padding: 5px;
 	color: #FFF;
 	cursor: pointer;
 }


 /* End Sectio Tool Box */

 /*Start Section About*/

 .about
 {
 	padding-top: 60px;
 	padding-bottom: 60px;

 }

 .about .lead
 {
 	color: #888;
 	font-size: 25px;
 	margin-top: 15px;
 }

 .about h1
 {
     font-weight: bold;
 }

 .about h1 span
 {
 	color: #ea9a6b
 }
 /*End Section About*/

 /*Start Section Features*/
 .feature
 {
 	background: #EEE;
 	padding-top: 50px;
 	padding-bottom: 50px;
 }
 .feature .feat p
 {
 	line-height: 2em;
 }
 .feature .feat
 {
 	margin-bottom: 30px
 }

 .feature .feat span.glyphicon
 {
 	font-size: 24px;
 	margin-bottom: 10px;
 	color: #888;
 }
 .feature .feat span.glyphicon:hover
 {
 	color: #2a8e0d
 }
 /*End Section Features*/
 /*Start Testimonials Section*/
.testimonials
{
	padding-top: 50px;
	padding-bottom: 50px
}
.testimonials .lead
{
	line-height: 2em;
}
.testimonials span
{
	font-size: 18px;
	font-weight: bold;
	color: #ea9a6b
}
.testimonials .carousel-inner
{
	min-height: 160px
}

.testimonials .carousel-indicators
{
	position: static;
	width: 100%;
	margin-left: auto;
	padding-top: 20px
}

.testimonials .carousel-indicators li
{
	text-indent: 0;
	width: 80px;
	height: 80px;
	opacity: 0.5;
	border: 3px solid #ea9a6b;
	border-radius: 50%;
	overflow: hidden;
	margin: 5px;
}
.testimonials .carousel-indicators li.active
{
	width: 80px;
	height: 80px;
    opacity: 1;
    background: none;

    
}
.testimonials .carousel-indicators li img {max-width: 100%;}
/*End Testimonials Section*/

/*Start Section Price*/
.price_table
{
	background: #f1925b;
	padding-bottom: 40px
}

.price_table .price_box
{
	background: #FFF;
	padding: 10px;
	border: 1px solid #DDD;
	margin-bottom: 15px
}

.price_table .price_box h2
{
	margin: 5px 0 15px
}

.price_table .price_box:hover p
{
	-webkit-transform:scale(1.1,1.1) rotate(360deg);
	-moz-transform:scale(1.1,1.1) rotate(360deg);
	-o-transform:scale(1.1,1.1) rotate(360deg);
	transform:scale(1.1,1.1) rotate(360deg);
	border: 2px solid #DFDFDF
}
.price_table .price_box p
{
	font-size: 35px;
	font-weight: bold;
	color: #666;
	width: 100px;
	height: 100px;
	background: #F3F3F3;
	border-radius: 50%;
	line-height: 100px;
	border: 2px solid #FFF;
}

.price_table .price_box ul
{
	line-height: 250%;
	font-size: 18px
}
.price_table .price_box a
{
	margin-bottom: 5px
}

/*End Section Price*/

/*Start Section Our Team*/

.our_team
{
	background: url('../image/121212.jpg') no-repeat center fixed;
	min-height: 600px;
}

.our_team .team
{
	background: rgba(2,2,2,0.5);
	color: #FFF;
	min-height: 600px;
	padding-top: 40px;
	padding-bottom: 40px
}

.our_team .team .person
{
	margin-bottom: 40px

}

.our_team .team .person img
{
	height: 100px;
	width: 100px;
}

/*End Section Our Team*/


/*Start Section Subscribe*/
.subscribe
{
	padding-top: 40px;
	padding-bottom: 70px;
	background: #EEE
}
.subscribe h1
{
	color: #888;
	letter-spacing: 2px;
	margin-bottom: 20px
}
.subscribe p
{
	margin-bottom: 30px
}

.subscribe .form-control
{
	border-radius: 0;
	margin-right: -5px;
	width: 300px
}

.subscribe button
{
	border-radius: 0
}



/*End Section Subscribe*/

/*Start Section Stats*/
.statistics
{
	background: url("../Image/8111.jpg")no-repeat center center fixed;
	min-height: 300px;
}

.statistics .data
{
	background-color: hsla(266, 74%, 17%, 0.42);
	color: #69b96b;
	min-height: 300px;
	padding-top: 40px;
	padding-bottom: 70px
}

.statistics .stats
{
 margin-bottom: 30px;
}

.statistics .stats:hover
{
   color: #FFF
}

.statistics p
{
	font-size: 60px;
	font-weight: 800;
	margin-bottom: 0
}
.statistics span
{
	font-size: 18px
}

/*End Section Stats*/

/*Start Section Our Skills*/

.our-skills
{
	padding-top: 40px;
	padding-bottom: 70px;
	background: #ffcb81
}

.our-skills h3 {font-weight: bold;margin-top: 0}

.our-skills .progress {height: 36px}

.our-skills .progress-bar
{
	line-height: 36px;
	font-size: 15px;
	font-weight: bold;
	text-align: left;
	text-indent: 10px
}
/*End Section Our Skills*/
/*Start Section Contact Us*/
.contact-us
{
	background: url("../Image/191919.jpg")no-repeat center center fixed;
	min-height: 300px;
}
.contact-us .fields
{
	background: rgba(9,9,9,0.8);
	min-height: 300px;
	color: #DDD;
	padding-top: 40px;
	padding-bottom: 40px
}

.contact-us p {margin-bottom: 40px}

.contact-us textarea {height: 108px}

/*End Section Contact Us*/

/*Start Section Our Clients*/

.our-clients
{
	background: #EEE;
	padding-top: 20px;
	padding-bottom: 20px
}
 
.our-clients img
{
	opacity: 0.4;
	filter: alpha(opacity=40);
	margin-top: 20px;
	margin-bottom: 20px;
}
.our-clients img:hover
{
	opacity: 1
}
/*End Section Our Clients*/

/*Start Ultimate Footer Section*/

.footer
{
	background: #111;
	color: #AAA;
	padding-top: 10px;
	
}

.footer a {color: #AAA}

.footer a:hover {color: #FFF}

.footer h3
{
	color: #ea9a6b;
	letter-spacing: 1px;
	margin: 30px 0 20px
}

.footer .three-col
{
  overflow: hidden;
}

.footer .three-col li
{
	width: 33.33333%;
	float: left;
	padding: 5px 0
}

.footer .soc-list
{
	overflow: hidden;
	margin: 20px 0 10px
}

.footer .soc-list li
{
	float: left;
	margin-right: 3px;
	opacity: 0.7;
	filter: alpha(opacity=70);
}

.footer .soc-list li:hover
{
	opacity: 1
}

.footer .img-thumbnail
{
	background: rgba(0,0,0,0.2);
	border: 1px solid #444;
	margin-bottom: 5px
}
.footer .copyright
{
	background: #333;
	color: #AAA;
	padding: 15px 0;
	margin-top: 20px;
	font-size: 18px;
}

.footer .copyright span
{
	color: #ea9a6b;
}

/*End Ultimate Footer Section*/

/*Start Section Loading*/

.loading-overlay
{
	background-color: #f3620d;
	color: #FFF;
	position: fixed;
	left: 0;
	top:0;
	width: 100%;
	height: 100%;
	z-index: 99999
}
.spinner {
  margin: 100px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 6px;
  display: inline-block;
  
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}

.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% { 
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% { 
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
/*End Section Loading*/
/*StartScrollup*/
#scroll-top { width: 50px; height: 40px; text-align: center; position: fixed; right: 15px; bottom: 10px; z-index: 9999; display: none; cursor: pointer;}

#scroll-top:hover { color: #444 }
/*EndOfScrollup*/

/* Start Our Grouping System */

.contact-us, .statistics, .our_team
{
  -webkit-background-size:cover;
	-moz-background-size:cover;
	-o-background-size:cover;
	background-size:cover;
}
.features .h1, .testmonials .h1, .price_table .h1, .our_team .h1, .statistics .h1, .our-skills .h1 {margin-bottom: 50px}

.statistics .stats, .testimonials .carousel-indicators li, .footer .soc-list li, .our-clients img, .price_table .price_box p
{
 -webkit-transition:all 1.5s ease-in-out;
 -moz-transition:all 1.5s ease-in-out;
 -o-transition:all 1.5s ease-in-out;
 transition:all 1.5s ease-in-out;
 }
/* End Our Grouping System */